---
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "github-actions"
    directory: "github-actions/golangci-lint"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "github-actions"
    directory: "github-actions/remote-access-ssh"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "github-actions"
    directory: "github-actions/update-semver"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "npm"
    directory: "github-actions/update-semver"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
